footer, header {
    margin: 5px;
}

.navbar-toggler:focus {
    outline: none;
}

.note-card {
    margin: 20px 5px;
    padding: 10px;
    box-shadow: 5px 10px 5px #B8B8BC;
    border: 1px solid #D8D7DC;
}

#writeNotes {
    border-bottom: 1px solid #D8D7DC;
    padding: 10px;
    margin-bottom: 20px;
}

#readNotes {
    margin-top: 20px;
    padding: 10px;
}